#auth{
    margin-left:10%;
    margin-right: 90%;
    text-align:left;
}

h1{
    margin-left:-10%;
    width: 250px;
    text-align: center;
}

form {
    margin: 20px;
    display: block;
}

#mdp {
    font-size: 15px;
    text-align: end;
}

input{
    background-color: #D9D9D9;
    border-radius: 10px;
    border-width: 0;
    width:200px;
    height :30px;
}

input[type="text"]::placeholder {
    text-align:left;
}

input[type="password"]::placeholder {
    text-align:left;
}

#page {
    display: flex;
    align-items: left;
    margin-right: 65%;
}

#partieDroite{
    vertical-align: middle;
}