
.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.auth {
    text-align: right;
    margin: 0 auto;
}

form {
    margin: 20px;
    text-align: right;
    font-size: 20px;
    display: inline-block;
}

.partieDroite {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

#image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 10%; /* Remplace margin-left par margin-right */
}